.control {
  display: flex;
  flex-grow: 1;
}

.address-updater {
	margin-top: 3rem;
}

@media screen and (min-width: 1088px) {
	.control {
	  display: flex;
	  flex-grow: 1;
	  max-width: 40%;
	}
}

@media screen and (min-width: 769px), print {
	.hero.is-medium .hero-body {
	    padding-bottom: 2rem;
	    padding-top: 2rem;
	}
}